.App {
  text-align: center;
}

.App__layout{
  min-height: 100vh;
}


.App-link {
  color: #61dafb;
}

.coffee-main-content{
  height: 100Vh;
}

.coffee-main-content__inner{
  margin: 0 16px;
  overflow: initial;
}
