.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

.coffee-main-content{
  height: 100Vh;
  /*//margin-left: 200;*/
}

.coffee-main-content__inner{
  margin: 24px 16px 0;
  overflow: initial;
}
